<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport opened mode="side">
    <mat-toolbar
      ><a mat-button href="/">
        <h1>{{ project?.name }}</h1>
      </a></mat-toolbar
    >
    <mat-divider></mat-divider>
    <mat-nav-list class="views">
      <a
        mat-list-item
        *ngFor="let link of links"
        [ngClass]="{ active: link.active }"
        [href]="'/projects/' + project?.id + link.link"
        >{{ link.name }}</a
      >
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
