<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport opened mode="side">
    <mat-toolbar class="toolbar-center">
      <h1>{{ project?.name }}</h1>
    </mat-toolbar>
    <mat-divider></mat-divider>
    <mat-nav-list class="views">
      <a
        mat-list-item
        *ngFor="let link of links"
        [ngClass]="{ active: link.active }"
        [href]="'/projects/' + project?.id + link.link"
        >{{ link.name }}</a
      >
    </mat-nav-list>
    <mat-divider></mat-divider>
    <mat-toolbar
      ><button mat-button href="/" (click)="selectProject()">
        <mat-icon>arrow_back</mat-icon>Switch project
      </button></mat-toolbar
    >
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
