<div class="actions">
  <button mat-raised-button color="primary" *ngIf="addColumn" (click)="onAddColumn()">
    <mat-icon class="material-icons-outlined">post_add</mat-icon>Create list
  </button>
  <button mat-raised-button color="primary" *ngIf="beginSprint">
    <mat-icon class="material-icons-outlined">rocket_launch</mat-icon>Begin sprint
  </button>
  <button mat-raised-button color="primary" *ngIf="endSprint">
    <mat-icon class="material-icons-outlined">inventory_2</mat-icon>End sprint
  </button>
</div>
<mat-divider></mat-divider>
